[data-inviewport='slide-in-right'] {
  transition: 500ms;
  transform: translateX(100px);
}

[data-inviewport='slide-in-right'].is-inViewport {
  transform: translateX(0px);
}

[data-inviewport='slide-in-left'] {
  transition: 500ms;
  transform: translateX(-100px);
}

[data-inviewport='slide-in-left'].is-inViewport {
  transform: translateX(0px);
}

[data-inviewport='slide-in-right-big'] {
  transition: 800ms;
  opacity: 0;
  transform: translateX(200px);
}

[data-inviewport='slide-in-right-big'].is-inViewport {
  transform: translateX(0px);
  opacity: 1;
}

[data-inviewport='slide-in-left-big'] {
  transition: 800ms;
  opacity: 0;
  transform: translateX(-200px);
}

[data-inviewport='slide-in-left-big'].is-inViewport {
  transform: translateX(0px);
  opacity: 1;
}

.progress-bar {
  width: 0%;
  transition: width 1s ease;
}

.progress-bar.is-inViewport {
  width: var(--target-width);
}

@keyframes grow-bar {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

.my-background {
  background-image: url('/assets/images/dark.jpg');
  background-size: cover;
  background-position: center;
}
